@import "tailwindcss";

:root {
  --page-bg: #fbf6ef;   /* soft beige */
  --text: #1b1b1b;
  --muted: rgba(27, 27, 27, 62);
  --line: rgba(27, 27, 27, 12);
  --footer-bg: #7b7d72; /* muted gray-green */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--page-bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
